* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

html {
    font-size: 16px;
}

body {
    background-color: black;
}


/* Media Queries */

@media (max-width: 400px) {
    #projects {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}


/* Navbar Styles */

#navbar {
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link {
    margin: 1.5rem;
    padding: .5rem;
    font-size: 1.75rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: black;
    color: rgb(237, 222, 197);
    outline: 1px solid black;
    outline-offset: .5rem;
}

.nav-link:hover {
    color: rgb(164, 82, 61);
    background-color: rgb(237, 222, 197);
    text-decoration: underline;
}


/* Welcome Section - Home Screen */

#welcome-section {
    height: 100vh;
    background-color: black;
    background-image: url("pexels-dids-2983308.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}

.title {
    margin-top: 1rem;
    height: 400px;
    width: 65%;
    min-width: 200px;
    padding: 1rem;
    background-color: black;
    color: white;
    mix-blend-mode: multiply;
    font-size: 15rem;
    overflow: hidden;
    text-align: center;
    border: .5rem solid black;
    outline: 1px solid black;
    outline-offset: .5rem;
}


/* Project Section */

#projects {
    width: 100%;
    background-color: rgb(150, 171, 157);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-tile {
    height: 300px;
    padding: 1rem;
    margin: 2rem 2rem 3rem 2rem;
    background-color: rgb(237, 222, 197);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    outline: 1px solid black;
    outline-offset: .5rem;
}

.tile-text {
    margin-bottom: 2rem;
}

.tile-link {
    text-decoration: none;
    color: rgb(164, 82, 61);
    outline: 1px solid rgb(164, 82, 61);
    outline-offset: .5rem;
}

.tile-link:hover {
    text-decoration: underline;
}

.music-img {
    height: 70%;
    padding-bottom: 1rem;
}

.tech-img {
    padding-bottom: 1rem;
}


/* Social Links */

#socials {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: rgb(150, 171, 157);
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
}

.btn-social {
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    background-color: rgb(237, 222, 197);
    color: rgb(164, 82, 61);
    outline: 1px solid rgb(164, 82, 61);
    outline-offset: .5rem;
}

.btn-social:hover {
    text-decoration: underline;
}


/* Call to action */

.call-box {
    background-image: url("pexels-dids-2983308.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    padding: 1rem;
    font-size: 10rem;
    text-align: center;
    background-color: black;
    color: white;
    mix-blend-mode: multiply;
    overflow: hidden;
}